.Polokalap {
    font-family: Fredoka;
    font-style: italic;
    transition-duration: 0.4s;
}

.Polokalap:hover {
    filter: blur(1px);
}

.Not_XKkrisz {
    font-family: Fredoka;
    font-style: italic;
    transition-duration: 0.4s;
}

.Not_XKkrisz:hover {
    filter: blur(1px);
}

body {
    background-color: #0e0d0d;
}

h1 {
    font-family: Fredoka;
    color: white;
}

p {
    color: white;
    font-family: Fredoka;
    font-style: italic;
}

h3 {
    text-shadow: #0e0d0d;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: #161515;
    padding: 10px;
}

button {
    background-color: #0e0d0d;
    color: #ffffff;
    padding: 15px 20px;
    border: 2px solid #ffffff;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #ffffff;
    color: #0e0d0d;
    border: 2px solid #ffffff;
}

a {
    font-family: monospace;
    color: #ffffff;
}

footer {
    background-color: #161515;
    padding: 10px;
}

.footerdiscordfix {
    transition-duration: 0.4s;
    filter: blur(5px);
}

.footerdiscordfix:hover {
    filter: blur(0px);
}